In [1]:
import pandas as pd
import numpy as np
import inventorize as inv
import datetime as dt
import array

In [2]:
pineapple = pd.read_csv('Pinapple_juice.csv')
pineapple.head()

   Day  Pinapple juice  Price
0    1             131   1.38
1    2             147   1.06
2    3             101   1.98
3    4             139   1.22
4    5             121   1.58

In [3]:
pineapple.shape

(366, 3)

In [4]:
p_juice = pineapple[['Pinapple juice']]

In [5]:
mean_p = p_juice.mean()
sd_p = p_juice.std()

In [6]:
max_p = p_juice.max()
max_p

Pinapple juice    189
dtype: int64

In [7]:
p_max = pineapple[pineapple['Pinapple juice'] == max(pineapple['Pinapple juice'])]
p_max

     Day  Pinapple juice  Price
297  298             189   0.22

In [8]:
leadtime =7
ordering_cost =100
service_level =0.8
invetory_cost =5

In [9]:
## SQ POLICY
p_sq = inv.sim_min_Q_normal(p_juice,mean_p,sd_p,leadtime=7,service_level =0.8,Quantity = 3000,shortage_cost=0,
                            inventory_cost=5,ordering_cost=100)

In [10]:
p_sq[0].to_csv('pinapple_sq.csv')

In [11]:
## MIN-MAX POLICY
p_minmax = inv.sim_min_max_normal(p_juice,mean_p,sd_p,leadtime=7,service_level=0.8,Max=1100,
                                shortage_cost =1,ordering_cost=100,inventory_cost=5)

In [12]:
## PERIODIC REVIEW PLICY
p_periodic = inv.Periodic_review_normal(p_juice,mean_p,sd_p,leadtime=7,Review_period=7,service_level=0.8,
                                        ordering_cost=100,shortage_cost=1,inventory_cost=5)

In [13]:
p_periodic[0].to_csv('pinapple_periodic.csv')

In [14]:
## Hybrid policy
p_hybrid = inv.Hibrid_normal(p_juice,mean_p,sd_p,leadtime=7,service_level=0.8,Review_period=7,
                             ordering_cost=100,inventory_cost=5,Min =20,shortage_cost=1)

In [15]:
p_hybrid[0].to_csv('pinapple_hybrid.csv')

In [16]:
##Base stock policy
p_base = inv.sim_base_normal(p_juice,mean_p,sd_p,leadtime=7,service_level=0.8,ordering_cost=100,
                             inventory_cost=5,shortage_cost = 1)

In [17]:
p_base[0].to_csv('pinapple_base.csv')

In [18]:
p_sq[1]

{'shortage_cost': 0.0,
 'inventory_cost': 2650920.0,
 'average_inventory_level': 1444.6430517711171,
 'ordering_cost': 1600,
 'total_lost_sales': 474.0,
 'Item_fill_rate': 0.9900558049762934,
 'cycle_service_level': 0.9781420765027322,
 'saftey_stock': Pinapple juice    47.478125
 dtype: float64}

In [19]:
p_minmax[1]

{'shortage_cost': 3078.0,
 'inventory_cost': 156895.0,
 'average_inventory_level': 85.50136239782016,
 'ordering_cost': 20700,
 'total_lost_sales': 3078.0,
 'Item_fill_rate': 0.935425670289095,
 'cycle_service_level': 0.7595628415300546,
 'saftey_stock': Pinapple juice    47.478125
 dtype: float64}

In [20]:
p_periodic[1]

{'shortage_cost': 253.0,
 'inventory_cost': 894025.0,
 'average_inventory_level': 487.20708446866485,
 'ordering_cost': 5200,
 'total_lost_sales': 253.0,
 'Item_fill_rate': 0.9946922334578105,
 'cycle_service_level': 0.9836065573770492,
 'saftey_stock': Pinapple juice    67.144208
 dtype: float64}

In [21]:
p_hybrid[1]

{'shortage_cost': 253.0,
 'inventory_cost': 894025.0,
 'average_inventory_level': 487.20708446866485,
 'ordering_cost': 5200,
 'total_lost_sales': 253.0,
 'Item_fill_rate': 0.9946922334578105,
 'cycle_service_level': 0.9836065573770492,
 'saftey_stock': Pinapple juice    67.144208
 dtype: float64}

In [22]:
p_base[1]

{'shortage_cost': 610.0,
 'inventory_cost': 127155.0,
 'average_inventory_level': 69.29427792915531,
 'ordering_cost': 36600,
 'total_lost_sales': 610.0,
 'Item_fill_rate': 0.9872026182184366,
 'cycle_service_level': 0.9153005464480874,
 'saftey_stock': Pinapple juice    47.478125
 dtype: float64}